.custom-navbar {
    transition: all 0.3s ease;
    background-color: #fff !important;

    .nav-link {
        color: #555 !important;
        font-weight: 500;
        transition: color 0.2s ease;

        &:hover,
        &.active {
            color: #0d6efd !important;
        }
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .dropdown-menu {
        border-radius: 0.75rem;
        min-width: 180px;
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
  overflow: hidden;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  max-height: 0;
  transform: translateY(-10px);
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  opacity: 1;
  max-height: 500px; /* altura máxima para animação */
  transform: translateY(0);
}
